@use '../../styles/base/colors';

.competitionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: colors.$dusky-cocoa;
}

.content {
  margin-top: 3rem;
}

.total {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
