@use '../../styles/base/colors';

.instructorsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: colors.$pale-pistachio;
}
