@use 'styles/base/colors';

.error {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$pale_pistachio;

  .error__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    .error__title {
      font-size: 2.5rem;
      font-weight: 700;
    }

    .error__message {
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
}
