@use '../../styles/base/colors';

.tablePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: colors.$dusky-cocoa;
}

.content {
  margin-top: 3rem;
}
