@use 'styles/base/colors';

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$dusky-cocoa;
}

.anim {
  height: 90vh;
}
