@use '../../styles/base/colors';

.tablePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: colors.$dusky-cocoa;
}
