@use 'styles/base/colors';

.layout {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: colors.$soft-petal;
  overflow: hidden;

  .sidebar__header {
    padding-inline: 0.625rem;
    margin-bottom: 1.88rem;
  }

  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .appbar {
      position: relative;
      height: 5rem;
      width: 100%;
      display: flex;
      padding: 0 1.25rem;
      align-items: center;

      .appbar__left {
        display: flex;
      }

      .appbar__center {
        display: flex;
        flex: 1;
      }

      .appbar__right {
        display: flex;
      }
    }

    main {
      position: relative;
      width: 100%;
      max-height: calc(100% - 5rem);
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
