@use '../../styles/base/colors';

.signupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: colors.$dusky-cocoa;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
}
