$blush-beige: #d5c5c8;
$misty-sage: #9da3a4;
$dusky-cocoa: #604d53;
$rosy-glow: #db7f8e;
$soft-petal: #ffdbda;
$pale-pistachio: #d2d4c8;
$forest-teal: #5f7470;
$muted-mint: #889696;
$pretty-lilac: #a0a5dd;
$charcoal-blue: #2c3e50;
$light-cream: #f5e5d1;
$lighter-charcoal: lighten($charcoal-blue, 60%);
